body {
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
	background-color: #BAE2E4;
}
.calculator {
	border-radius: 10px;
	border: 3px solid #000;
	margin-top: 100px;
	width: 350px;
	height: 450px;
	padding: 30px;
	background-color: #f0542e;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.container {
	margin: 30px 0;
}
.numbers-container {
	width: 200px;
}
.num-btn, .operand {
  position: relative;
  top: auto;
	box-sizing: border-box;
	border: 3px solid #000;
	border-radius: 10px;
	color: #49AF97;
	background-color: #FFC300;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	float: left;
	width: 64.5px;
	height: 64.5px;
	margin: 1px;
	font-size: 30px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #000;
}
.num-btn:hover, .operand:hover {
  background-color: #e2ad00;
}
.operands-container {
	display: inline-block;
	width: 133px;
}
.number,.operator, #equals {
	text-align: center;
  height: 48px;
  padding-top: 13px; 
  margin: 0;
}
#equals-btn{
	width: 130px;
}
#equals {
	text-align: center;
}
.total {
	width: 333px;
	height: 100px;
	background-color: #FAF3E5;
	border: 3px solid #000;
	border-radius: 5px;
}
#results {
  overflow: hidden;
	font-family: monospace;
	border: none;
	text-align: right;
	position: relative;
	bottom: 90px;
	right: 10px;
  padding-left: 10px;
	font-size: 90px;
	color: #49AF97;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}
